.padding-icons {
    margin-right: 16px;
}

.edit-button {
    cursor: pointer;
}

#header-logo {
    width: 36px;
    /*-webkit-animation: spin 1s infinite linear;*/
}

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

.timeInformation {
    text-align: center;
    z-index: 1000;
}

table, th, td {
    margin: auto;
    overflow-x: auto;
    border: 1px solid black;
}

@media (min-width: 1000px) {
    .mdl-grid {
        width: 75%;
        margin: auto;
    }
}

.rs-control .rs-range-color {
    background-color: #ff5252;
}

.rs-control .rs-path-color {
    background-color: #cdcdcd;
}

.rs-control .rs-handle:after {
    background-color: #ff5252;
}

.rs-control .rs-bg-color {
    background-color: #424242;
}

.rs-control .rs-bg-color {
    background-color: white;
}

.new-assignment-spacer, #new-assignment, .new-exam-spacer, #new-exam, .new-task-spacer, #new-task{
    display: none;
}

.mdl-card {
    margin: 5px;
}