.padding-icons {
    margin-right: 16px;
}

.edit-button {
    cursor: pointer;
}

#header-logo {
    width: 36px;
}

.timeInformation {
    text-align: center;
    z-index: 1000;
}

table, th, td{
    margin: auto;
    overflow-x: auto;
    border: 1px solid black;
}

.rs-control .rs-range-color {
    background-color: #ff5252;
}
.rs-control .rs-path-color {
    background-color: #cdcdcd;
}
.rs-control .rs-handle:after {
    background-color: #ff5252;
}
.rs-control .rs-bg-color {
    background-color: #424242;
}

.rs-control .rs-bg-color {
    background-color: white;
}