body {
    color: white;
    background-color: #424242;
}

h2 {
  color: #fff;
}

header div {
    background-color: #424242;
}

.mdl-layout-title {
  color: #fff;
}

#drawer span {
    background-color: #424242;
    color: white;
}

#drawer nav {
    background-color: #424242;
    color: white;
}

.mdl-layout__drawer {
    background-color: #424242;
    color: white;
}

.mdl-layout__header .mdl-layout__drawer-button {
    background-color: #424242;
    color: white;
    /* padding-top: 10px; */
}

#readout {
    padding-top: 20px;
}

/*#slider div {*/
/*text-align: center;*/
/*}*/

#time {
    text-align: center;
}

.mdl-grid.center-items {
    justify-content: center;
}

button {
    max-width: 274px;
    background-color: pink;
}

.mdl-layout__header {
    box-shadow: none;
}

#header-logo {
    height: 36px;
}

#splashlogo {
    height: 25%;
}

#time {
    padding-top: 35px;
}

.navbar {
    background-color: #424242;
    border: none;
}

footer {
    background-color: #424242;
}

.priority {
    padding: 10px;
    margin: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.high {
    background-color: #FA6154; /* red */
    border: 2px solid #FAAEA7;
}

.med {
    background-color: #F98233; /* orange */
    border: 2px solid #F9BD95;
}

.low {
    background-color: #3c76c6; /* blue */
    border: 2px solid #819EC6;
}

.list-head {
    vertical-align: middle;

}

.order {
    padding-right: 10px;
}

.list-head h4 {
    padding-left: 10px;
}

.navbar-default .navbar-toggle {
    border-color: #424242;
}

.main-logo {
  padding-top: 10px;
padding-left: 28px;
width: 270px;
}

div div {
  color:#000;
}

#currentTime, #workTime, #endTime {
  color: #fff;
}
