{% extends 'base.html' %}

{% block head %}
    <style>
        .mdl-card__title, .mdl-card__actions {
            margin: auto;
        }
    </style>
{% endblock %}

{% block header %}
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="{{ url_for('index') }}" class="mdl-layout__tab is-active">Home</a>
    </div>
{% endblock %}
{% block content %}
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
        <div class="page-content">
            <div class="mdl-grid" id="home">

              <!--
                <div class="mdl-cell mdl-cell--2-col"></div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
                    <div class="mdl-card__title mdl-card--expand">
                        <h4>
                            Never procrastinate again!
                        </h4>
                    </div>
                    <div class="mdl-card__media">
                        <img src="{{ url_for('static', filename='img/unininjalogo.svg') }}" width="300px" border="0"
                             alt="" style="padding:20px;margin: auto;display: block">
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <ol>
                            <li>Tell me what's due.</li>
                            <li>Tell me the length of time you want to study.</li>
                            <li>I'll tell YOU what to do.</li>
                        </ol>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="{{ url_for('signup') }}"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Sign up
                        </a>
                        <a href="{{ url_for('login') }}"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Sign in
                        </a>
                    </div>
                </div>
              -->

  <div class="mdl-cell mdl-cell--3-col"></div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell--6-col" style="background;url('static/img/unininjalogo.svg')">
                  <div class="main-logo">
                    <img class="main-logo"src="static/img/unininjalogo.svg" alt="uni.ninja logo" style="    padding-top: 10px;
    margin: auto;
    display: block;
    width: 80%;"></img>
                  </div>
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Never Procrastinate again?</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Welcome to uni.ninja.<br>
    <br>
    We are here to help you with what is due, how long you should spend working on the tasks and tell you what you SHOULD be working on.


  </div>
  <div class="mdl-card__actions mdl-card--border">

        <a href="{{ url_for('signup') }}"
           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Sign up
        </a>
        <a href="{{ url_for('login') }}"
           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Sign in
        </a>

  </div>
</div>



                <div class="mdl-cell mdl-cell--2-col"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block body %}{% endblock %}
