{% extends "base.html" %}

{% block head %}{% endblock %}
{% block body_attrs %}{% endblock %}
{% block header %}
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="/" class="mdl-layout__tab">Home</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab is-active">Work</a>
    </div>
{% endblock %}
{% block content %}
    <section class="mdl-layout__tab-panel is-active">
        <div class="page-content">
            <div class="mdl-grid">

                <!-- <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
                  <span id=countDown> </span>

              </div> -->
              <div class="mdl-cell mdl-cell--12-col">
                <h2 id="countDown"></h2>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <h2 id="countDownSec"></h2>
              </div>

                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" id="card">
                    <span></span>

                    <div class="mdl-card__title mdl-card--expand">
                        <h4>
                            <strong>{{ task.subject }}</strong> {{ task.name }}
                        </h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="mdl-card__actions mdl-card--border">
                            {{ task.details }}
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <span id="complete-parrot">{{ task.percent_complete }}</span>% Complete
                            <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100"
                                   value="{{ task.percent_complete }}" tabindex="0" disabled="true"> <br>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <span id="worth-parrot">{{ task.percent_worth }}</span>% of Grade
                            <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100"
                                   value="{{ task.percent_worth }}" tabindex="0" disabled="true"> <br>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block body %}
    <script>
        var seconds = {{ time }};
        y = seconds;
        // var y = x * 5;
        minute = y % 60;
        hour = (y - minute) / 60;

        // minute = checkTime(minute);

        // document.getElementById("countDown").innerHTML = hour + ":" + minute + "minutes="+minute + " hours=" + hour;
        //
        //
        // document.getElementById("countDownSec").innerHTML = seconds

        // Time calculations for days, hours, minutes and seconds
var hours = Math.floor((y % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((y % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((y% (1000 * 60)) / 1000);

// Display the result in the element with id="demo"
document.getElementById("countDown").innerHTML = hours + "h "
+ minutes + "m " + seconds + "s ";

    </script>
    <script src="{{ url_for('static', filename='js/work.js') }}"></script>

    <audio src="{{ url_for('static', filename='sound/bell.wav') }}" autostart="false" width="0" height="0" id="sound"
           enablejavascript="true">
{% endblock %}
